@page "/ErreurConfirmationPostulerStage"

<h3>Ooopsss</h3>

Vous semblez avoir déjé postulé sur cette offre de stage.
<br />
Si ce n'est pas le cas, communiquer avec le responsable des stages dans votre institution scolaire.

